mcp-sgr/examples/n8n-http-node-example.json
{
  "name": "MCP-SGR Analysis Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-vps:8080/v1/apply-sgr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "={{ $json.task }}"
            },
            {
              "name": "schema_type",
              "value": "analysis"
            },
            {
              "name": "budget",
              "value": "full"
            },
            {
              "name": "context",
              "value": "={{ $json.context }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sgr-analysis",
      "name": "SGR Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 0.7
            }
          ]
        }
      },
      "id": "confidence-check",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "High confidence analysis"
            },
            {
              "name": "actions",
              "value": "={{ $json.suggested_actions.join(', ') }}"
            }
          ]
        }
      },
      "id": "high-confidence",
      "name": "High Confidence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-vps:8080/v1/enhance-prompt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "original_prompt",
              "value": "Please review the analysis and provide more details"
            },
            {
              "name": "target_model",
              "value": "gemini-pro"
            }
          ]
        }
      },
      "id": "enhance-prompt",
      "name": "Enhance Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "SGR Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SGR Analysis": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "High Confidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enhance Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}